.Imagenes{
    margin: 3rem;
    width:80%;
    height: 40%;
    align-content: center;
}
img{
    margin: 30px;
}
.Series{
    background-color: blue;
    width: 100%;
    height: 30px;
    color: white;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 1px 3px black; 
    line-height: 30px;
}
